*{
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}


body{
    background-image:  linear-gradient(180deg, rgba(0,36,16,1) 0%, rgba(11,121,9,1) 56%, rgba(0,212,255,0) 83%);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr) ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header header"
                         "main main main main"
                         "main main main main"
                         "footer footer footer footer";
    align-items: center;
    justify-items: center;
    border: 5px solid green;
    padding: 50px; 
    animation-name: animacion_body;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animacion_body{
    0% {
        width:100;
        height: 0;
    }
    /* 25% {
        width: 25vw;
        height: 25vh;
    }
    50% {
        width:50vw;
        height:50vh;
    }
    75% {
        width:75vh;
        height:75vh;
    } */
    100% {
        width: 100vw;
        height: 100vh;
    }
}
body header h1{
    perspective: 2500;
    transition: 1s ease;
}
body header h1:hover{
    transform: scale(1);
    transform: rotate(360deg);
}

header nav ul li{
    width: 100vw;
    height: 5vh;
    display: inline-block;
    margin-left: auto;
}


header{
  grid-area: header;
  background-color: rgb(4, 122, 4);
}
main {
    width: 100vw;
    height: 5vh;
    grid-area: main;
    background-color: green;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". . ."
                         "propiedades ingrese buscar";
    align-items: center;
    justify-items: center;
    border: 5px solid green;
    padding: 50px; 

}
#propiedades{
grid-area: propiedades;
color: aliceblue;
background-color: black;
border: 1px solid white;
padding: 3px;
animation-name: animacion_propiedades;
animation-duration: 5s;

}
#ingresarpropiedades{
color: aliceblue;
grid-area: ingrese;
background-color: black;
border: 1px solid white;
padding: 3px;
}
#buscar{
grid-area: buscar;
background-color: black;
border: 1px solid white;
padding: 3px;
}

footer{
    width: 100vw;
    height: 5vh;
    grid-area: footer;
    background-color: rgb(4, 122, 4);

}

footer div{
    display: inline-block;
}



/* @media (1200px)
     */
  

/* PAG CONTACTO */


.body_contacto{
    background-image:  linear-gradient(180deg, rgba(0,36,16,1) 0%, rgba(11,121,9,1) 56%, rgba(0,212,255,0) 83%);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: .5fr 1fr .5fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "nav_cont nav_cont nav_cont nav_cont"
                         "main_cont main_cont main_cont main_cont "
                         "footer_cont footer_cont footer_cont footer_cont";
    align-items: center;
    justify-items: center;
    border: 5px solid green;
    padding: 50px; 
                 
}

.body_contacto #nav_contacto #barra_nav{
    display: inline-block;
}

#nav_contacto{
    grid-area: nav_cont;
    background-color: rgb(4, 56, 12);
    
}
#main_contacto{
    grid-area: main_cont;
    background-color: rgb(5, 126, 55);
    border: rgb(4, 122, 4);
    padding: 3px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:". ."
                        "form img_cont";
grid-column-gap: 1em;
grid-row-gap: 1em;


    

   
}
#imagen_contacto{
    grid-area: img_cont;
    border: 5px solid white;
}
#formulario{
    grid-area: form;
    background-color: aliceblue;

}
#footer_contacto{
    grid-area: footer_cont;
    background-color: rgb(6, 153, 30);
}


.footer{
    display: inline-block;
}

/* @media  screen and (1200px) */