body{
   height: 150vh;
   width: 100vw;
    header{
        @include vh;
    }
    main{
        height: 95vh;
    }
    footer{
        @include vh;
    }
}

   
.body-propiedades{
     @include reset ;
    #header-propiedades{
        height: 30vh;
    }
    #main-propiedades{
        height: 90vh;
    }
    #footer-propiedades{
        height: 30vh;
    }
}

.body-tasaciones{
    @include reset;
    #header-tasaciones{
        height: 15vh;
    }
    #main-tasaciones{
        height: 115vh;
    }
    #footer-tasaciones{
        height: 15vh;
    }
}
.body-contactos{
    @include reset;
    #header-nosotros{
        height: 15vh;
    }
    #main-nosotros{
        height: 115vh;
    }
    #footer-nosotros{
        height: 15vh;
    }
}
.body-contactos{
    @include reset;
    #header-contacto{
        height: 15vh;
    }
    #main-contacto{
        height: 115vh;
    }
    #footer-contacto{
        height: 15vh;
    }
}

